body{
	width: 600px;
	height: 500px;
}
.filter{
	min-width: 250px;
}
.toolbar i.fa{
	font-size: 2.5em;
}
.folderLabel{
	font-size: 0.8em;
	background-color: #dedede;
	padding: 3px;
	margin-right: 5px;
}
.bookmarksGrid{
	max-height: 450px;
	overflow: scroll;
}
input.search{
	width: 95%;
}