body{
	width: 600px;
	height: 500px;
}
.filter{
	min-width: 250px;
}
tr.archived{
	background-color: #BBBBBB;
}
tr.archived .btn[data-bgv-action="archive"]{
	display: none;
}
.toolbar i.fa{
	font-size: 2.5em;
}
